<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if title %}
        <title>{{ title }} - Olive Shoots</title>
        {% else %}
        <title>Olive Shoots</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand" href="#">Olive Shoots Etext Generator</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Help</a>
                </div>
            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <a class="btn btn-primary" href="{{ url_for('login') }}" role="button">Login</a>
                    {% else %}
                    <a class="btn btn-primary" href="{{ url_for('logout') }}" role="button">Logout</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>